<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
  <ol id="courses">
    
  </ol>
</div>
@section scripts
{
  <script type="text/javascript" src="/Scripts/custom/webapi.js"></script>
}
