<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2222/math" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService" contract="CalculationService.IMathService"
                name="BasicHttpBinding_IMathService" />
        </client>
    </system.serviceModel>
</configuration>