<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfImplimentation.DLL.ArithmeticService">
        <endpoint address="math"
                  binding="basicHttpBinding" contract="WcfContract.DLL.IArithmeticService">

        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpsBinding" name="MetadataBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://mywcf.xln:447"/>
          </baseAddresses>
        </host>
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding>
          <readerQuotas maxDepth="28383993" maxArrayLength="28383993"  maxStringContentLength="28383993" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>

          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
</configuration>