@{
  ViewBag.Title = "Index";
}
<div data-ng-controller="StoreController as store">
  <!-- loop through an array of data using <ng-repeat=" item in array">-->
  <div ng-repeat="product in store.products | orderBy:'-price'">
     <!--hide the product if sold out using <ng-hide> directive -->

    <!-- <div ng-include="'/coustomHtmlpages/productdetails.htm'">
      
         </div> -->
    <!-- This is an angular directive -->
    <product-details></product-details> 

    <!-- initialise tab to be 1 using <ng-init> directive -->
    <br/>
    <product-panels></product-panels>

   
  </div>
 
</div>
